p {
    color: rgb(203, 201, 47);
    font-size: 18px;
}
h3 {
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.t {
    color: rgb(225, 117, 22);
    font-size: 18;
}
.h {
    color:rgb(213, 129, 129);
    font: size 22px;
}
a {
    color: rgb(0, 0, 0);
    font-size: 18;
}
.d {
    color: rgb(255, 0, 0);
    font-size: 20;
}
h1 {
    color: aqua;
    font-size: 20;
}
body {
    background: #262626;
}