
.container {
    width: 1300px;
    border: 3px solid rgb(222, 148, 0);
    border-radius: 50px;
    padding: 50px;
    background-color: rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto;
}

.h1 {
    width: 1700px;
    background-color: #c59607;
    &:active {
    transform: scale(0.96);
    }
    &:hover {
    background-color: rgb(0, 113, 251);
    }
}

p {
    color: rgb(203, 201, 47);
    font-size: 18px;
    text-align: center;
}

h3 {
    color: rgb(248, 22, 22);
    font-size: 25px;
    text-align: center;
}

.artist {
    color: rgb(225, 137, 22);
    font-size: 25px;
}

.name {
    color:rgb(156, 153, 153);
}

a {
    color: rgb(248, 194, 18);
    font-size: 18px;
    padding: 4px 2px;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    transition: all 0.9s ease;
    text-align: center;  
    border-style: solid;
    &:active {
    transform: scale(0.96);
    }
    &:hover {
    background-color: rgb(0, 113, 251);
    }
}
button {
    background-color: #000000;
    padding: 0px;
    border-radius: 35px;
}

.d {
    color: rgb(241, 153, 11);
    font-size: 20px;
    text-align: left;
    background-color: black;
}

h1 {
    color: rgb(231, 28, 28);
    font-size: 20px;
    text-align: center;
    line-height: 3cap;
}

body {
    width: 1700px;
    background-color: #202020;
}

li {
    color: rgb(238, 0, 0);
    font-size: 20px;
    text-align: center;
    list-style:none;
    border-radius: 20px;
    padding: 10px;
}

header {
    background: #000000;
    font-size: 21%;
}

.a1 {
    color: rgb(248, 194, 18);
    background: #000000fa;
    transition: all 0.5s ease;
    background-color: rgb(0, 0, 0);
    padding: 7px;
    border-radius: 10px;
}

i {
    color: rgb(87, 78, 31);
    font-size: 30px;
}

.a1:active {
    transform: scale(0.96);
}

.a1:hover {
    background-color: rgb(14, 165, 215);
}

.font-texst {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    color: rgb(0, 0, 0);
    border-style:solid;
    border-width: 0.5px;
    background-color: #000000;
    padding: 5px;
    border-radius: 20px;
    &:active {
    transform: scale(0.96);
    } 
    &:hover {
    background-color: rgb(248, 194, 18);
    }
}
.artist-favorite {
    display: flex;
    flex-direction: flex end;
    justify-content: flex baseline;
    flex-wrap: wrap;
    gap: 30px;
}

.artist-favorite {
    flex-basis: calc((100% - (2 * 30px)) / 3);
    border: 3px solid goldenrod;
    border-radius: 1%;
    padding: 0px;
}
.up {
    
    text-align: center;
}
.flex {
    display: flex;
}




